body {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #585a58;
  display: flex;
  justify-content: center;
}

main {
  width: 50rem;
}

@media (max-width: 850px) {
  main {
    width: calc(100% - 2rem);
  }
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b0b9b3;
  border-left: solid black 2px;
  border-bottom: solid black 2px;
  border-right: solid black 2px;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  width: 18.75rem;
  border: black dashed 2px;
  padding: 1rem;
}

h1,
h2 {
  padding: 1rem;
  font-family: "Kalam", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h3 {
  font-family: "Kalam", Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(246, 246, 246);
  border-left: #d8a767 solid 5px;
  padding-left: 1rem;
  width: 100%;
}

p {
  padding: 2rem;
}

.first-letter {
  font-weight: bold;
  font-size: 2rem;
}

.red {
  color: white;
  background-color: #ac262e;
  text-align: center;
  padding: 2rem;
}

a {
  color: #b0b9b3;
  text-wrap: wrap;
  word-break: break-all;
  /* overflow-wrap: break-word; */
}

a:hover {
  color: white;
}
