body {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #585a58;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #b0b9b3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50rem;
  gap: 1rem;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  border-left: solid black 2px;
  border-bottom: solid black 2px;
  border-right: solid black 2px;
}

img {
  margin: 2rem 0;
  max-width: 18.75rem;
  border: black dashed 2px;
  padding: 1rem;
  text-align: center;
}

h1, h2 {
  padding: 1rem;
  font-family: 'Kalam', Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  width: calc(100vw - 2rem);
}

h3 {
  width: 100%;
  font-family: 'Kalam', Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(246, 246, 246);
  border-bottom: #d8a767 solid 5px;
  padding-left: 1rem;
}

p {
  padding: 2rem;
}

.first-letter {
  font-weight: bold;
  font-size: 2rem;
}

.red {
  color: white;
  background-color: #ac262e;
  text-align: center;
}

a {
  color: #b0b9b3;
}

a:hover {
  color: white;
}